.mainContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.dates {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
}

.tools {
  margin-bottom: 100px;
}

.subChartSelector {
  position: absolute;
  bottom: 24px;
  right: 60px;
  z-index: 99;
}
