{
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.scss": ["prettier --write", "stylelint --syntax=scss --fix"],
  "*.{js,jsx}": [
    "eslint --fix"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged"
  ]
}
