.Container {
  position: relative;
}

.MapWrapper {
  position: absolute;
  width: 100%;
  height: calc(100vh - 80px);
}

.btnToggle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}
