:root {
  --encounter-color: #e5647d;
  --gap-color: #ffe7a0;
  --fishing-color: #fe81eb;
  --unregistered-color: #9a84ed;
  --port-color: #44a1b9;
}

.Events {
  position: absolute;
}

.overlays rect,
.backgrounds rect {
  cursor: pointer;
}

.overlays ._highlighted rect {
  stroke: var(--white);
  stroke-width: 2px;
}

.overlays .encounter rect {
  fill: var(--encounter-color);
}

.overlays .gap rect {
  fill: var(--gap-color);
}

.overlays .fishing rect {
  fill: var(--fishing-color);
  fill-opacity: 0.5;
}

.lines line.port {
  stroke: var(--fishing-color);
  stroke-dasharray: 4;
  stroke-linecap: butt;
  stroke-width: 2px;
}

.overlays .port circle {
  fill: var(--main-background-color);
  stroke: var(--fishing-color);
  stroke-width: 2px;
}

.backgrounds .port rect {
  fill: var(--white);
  fill-opacity: 0.1;
}

.backgrounds .port._highlighted rect {
  fill-opacity: 0.2;
}

.tooltip {
  background: var(--white);
  position: absolute;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: var(--main-background-color);
  padding: 6px 8px;
  transform: translate(-50%, -100%);
  top: 10px;
  z-index: 10;
  font-weight: normal;
}

.tooltip::after {
  background: var(--white);
  content: ' ';
  width: 10px;
  height: 10px;
  position: absolute;
  left: calc(50% - 2px);
  transform: rotate(45deg);
  bottom: -5px;
}

.tooltipText {
  margin-left: 10px;
}

.tooltipDate {
  text-transform: uppercase;
  font-weight: 500;
}

.tooltip.encounter .tooltipDate {
  color: var(--encounter-color);
}

.tooltip.encounter svg {
  fill: var(--encounter-color);
}

.tooltip.gap .tooltipDate {
  color: var(--gap-color);
}

.tooltip.gap svg {
  fill: var(--gap-color);
}

.tooltip.fishing .tooltipDate {
  color: var(--fishing-color);
}

.tooltip.port .tooltipDate {
  color: var(--port-color);
}

.tooltip.port svg {
  stroke: var(--port-color);
}
