.DateSelector {
  /* font-family: var(--timebar-font-family); */
  display: flex;
  flex-direction: column;
  width: 4.2rem;
  margin-right: 1rem;
  position: relative;
}

.arrowButton {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  height: 2.4rem;
  background: transparent;
  color: var(--timebar-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--timebar-hover-transition);
}

.arrowButton:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.arrowButton:hover,
.arrowButton:focus {
  background: rgba(255, 255, 255, 0.05);
  outline: none;
}

.valueInput {
  height: 2.7rem;
  padding: 0;
  text-align: center;
  background: var(--timebar-secondary-background-color);
  color: var(--timebar-light-blue);
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  font-size: var(--timebar-font-size);
  font-weight: 400;
  line-height: 2.7rem;
}

.selectInput {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.7rem;
  opacity: 0;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--timebar-font-size);
}

.valueInputError {
  border-color: red;
}
