.Timeline {
  width: 100%;
  background-position-y: 1rem;
  position: relative;
  z-index: 0;
}

.graphContainer {
  width: 100%;
  height: 100%;
  z-index: 0;
  clip-path: inset(-50px 0 0 0);
}

.graph {
  position: relative;
  height: 100%;
  display: flex;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.veil {
  position: absolute;
  height: 100%;
  top: 0;
  transition: var(--timebar-hover-transition);
  z-index: 1;
  pointer-events: all;
}

.veilLeft {
  width: 15%;
  background-image:
    linear-gradient(
      90deg,
      var(--timebar-main-background-color) 0%,
      rgba(0, 16, 57, 0.3) 100%
    );
}

.veilRight {
  right: 0;
  width: 15.01%;
  background-image:
    linear-gradient(
      90deg,
      rgba(0, 16, 57, 0.3) 0%,
      var(--timebar-main-background-color) 100%
    );
}

.veil._immediate {
  transition: none;
}

.absoluteEnd {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  top: 0;
  padding-left: 2rem;
  user-select: none;
  font-weight: 400;
  overflow: hidden;

  /* min-width: 200px; */
}

.lastUpdate {
  max-width: 50%;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .lastUpdate {
    max-width: 110px;
    font-size: 20.8px;
  }
}

@media screen and (min-width: 1154px) {
  .lastUpdate {
    max-width: 100%;
  }
}

.lastUpdateLabel {
  text-transform: uppercase;
  opacity: 0.4;
}
