.Timebar {
  width: 100%;
  height: var(--timebar-size);
  display: flex;
  background: var(--timebar-main-background-color);
  border-top: 1px solid var(--timebar-main-border-color);
  color: var(--timebar-white);
  font-family: var(--timebar-font-family);
  font-size: var(--timebar-font-size);
  font-weight: var(--timebar-font-weight);
  box-sizing: border-box;
}

.uiButton {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--timebar-ui-btn-color);
  color: var(--timebar-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--timebar-hover-transition);
}

.uiButton:disabled {
  cursor: not-allowed;
}

.playbackActions svg {
  fill: var(--timebar-white);
}

.uiButton:disabled svg {
  opacity: 0.5;
}

.uiButton:hover,
.uiButton:focus {
  background-color: var(--timebar-ui-btn-color-hover);
  outline: none;
}

/* PLAYBACK ACTIONS */

.playbackActions {
  background-color: var(--timebar-ui-btn-color);
  width: var(--timebar-size);
  height: 100%;
  margin-right: 0.1rem;
  display: flex;
  flex-wrap: wrap;
}

.secondary {
  opacity: 0;
}

.playbackActionsActive .secondary,
.playbackActions:hover .secondary {
  opacity: 0.5;
}

.playbackActions .secondaryActive,
.playbackActions:hover .secondary:hover {
  opacity: 1;
}

.playbackActions .uiButton {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

.playbackActions .loop {
  margin: 0 2.4rem;
}

.playbackActions .speed {
  margin-left: 2.4rem;
}

/* TIME ACTIONS */

.timeActions {
  position: relative;
  width: var(--timebar-size);
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.timeRange {
  border-right: 0.1rem solid var(--timebar-main-background-color);
}

.timeScale {
  display: flex;
}

.timeScale .uiButton {
  border-top: 0.1rem solid var(--timebar-main-background-color);
  height: 3.5rem;
}

@media only screen and (max-width: 72rem) {
  :root {
    --timebar-size: 6rem;
  }

  .playbackActions,
  .bookmark,
  .timeScale {
    display: none;
  }

  .timeRange {
    width: var(--timebar-size);
    height: var(--timebar-size);
  }
}

.timeRangeContainer {
  position: relative;
}
